* {
    margin: 0;
}

body {
    background-color: #36454f;
    font-family: 'Roboto Slab', serif;

}

main {
    max-width: 1232px;
    background-color: #36454f;
    color: #fff;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 20px;
    height: 7vh;

}


header div {
    padding-left: 60px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}


header ul li a {
    padding: 16px;
    color: white;
    text-decoration:  none;
}

header ul li:hover {
    cursor: pointer;
}

.intro {
    display: flex;
    padding: 60px 15px 0px;
    justify-content: space-between;
    height: 820px;

}

.intro_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 40px;
    height: 470px;

}

.name {
    padding-left: 60px;
    font-size: 70px;
}

.degree {
    display: flex;
    align-items: end;
    font-size: 40px;
    height: 570px;
    letter-spacing: 2px;
}

.about {
    display: flex;
    padding: 60px 15px;
    align-items: center;
    height: 600px;
    border-top: solid 1px red;
    border-bottom: solid 1px red;
}

.about_image {
    border: solid;
    border-width: 0 calc(100% / 4) 0 calc(100% / 4);
    width: 40%;
    height: 80%;
}
.about_image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: auto 0;
}

.about_info {
    display: flex;
    padding-left: 80px;
    width: 50%;

}

.about_info_box {
    padding-right: 60px;
    width: 90%;
    letter-spacing: 2px;
}

.about_info_box h3 {
    font-size: 35px;
    padding-bottom: 15px;

}

.about_info_box p {
    font-size: 18px;
}

.tools {
    display: flex;
    flex-direction: column;
    padding: 60px 15px;
    align-items: center;
    height: 450px;
    border-bottom: solid 1px red;
}

.tools_title {
    font-size: 35px;
    padding-top: 15px;
    height: 20%;
}

.tools_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
    height: 80%;
    width: 80%;
    font-size: 17px;
}

.estudio{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    
}
.estudio a{
    color:#fff;
}

.estudio a:visited{
    color: white;
    text-decoration: none;
}

.tools_icons img {
    padding: 30px;
    height: 120px;
    width: 160px;
    object-fit: contain;

}

.experiencia {
    display: flex;
    flex-direction: column;
    padding: 60px 12px;
    height: 700px;
    border-bottom: solid 1px red;
}

.experiencia h2 {
    text-align: center;
    height: 12%;
    padding-bottom: 17px;
    letter-spacing: 2px;
    font-size: 35px;
}

.content {
    display: flex;
    justify-content: space-around;
    height: 93%;
}

.experiencia_1,
.experiencia_2 {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: space-around;
}
.enlaces{
    color: white;
    
}
.enlaces:visited{
    color: white;
}

.experiencia a {
    padding: 30px;
    height: 280px;
    width: 180px;
    object-fit: contain;
    border: solid;
    margin: 0 auto;
}
.experiencia img{
    object-fit: contain;
    height: 280px;
    width: 180px;
}

.experiencia_1 h3,
.experiencia_2 h3 {
    letter-spacing: 3px;
    margin: 0 auto;
    font-size: 17px;
}

.tecnoLabel-container{
    display: flex;
    height: 16%;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
}

.tecnoLabel{
    background-color: rgb(78, 112, 133);
    padding: 5px;
    margin: 9px;
    height: 20px;
    border-radius: 12px;
}


.contact {
    display: flex;
    align-items: center;
    height: 500px;

}

.contact_1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.contact_icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 60%;
    text-align: center;


}

.contact_1 h3,
.contact_2 h3 {
    letter-spacing: 3px;
}

.contact_icons a {
    margin: auto;
    font-size: 40px;
    color: #fff;
}

.contact_icons i:hover {
    cursor: pointer;
}

.contact_2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60%;


}

form input,
form button {
    padding: 10px;
    margin: 15px 0px;
    box-sizing: border-box;
}

form textarea {
    padding: 23px;
    margin: 15px 0px;
}

form button {
    width: 100%;
    margin: auto;
    font-size: 19px;

}

form button:hover {
    cursor: pointer;
}

hr {
    height: 50%;
}